<!doctype html>
<html lang="en" ng-app="studentApp">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="studentApp.js"></script>

</head>

    <body ng-controller="studentController">

        <div class="container">

        <h1>List of students </h1>

        <div class="menu">
            <div class="menu-item" ng-click="sortBy('name')">Name</div>
            <div class="menu-item" ng-click="sortBy('birthdate')">Date of Birth</div>
            <div class="menu-item" ng-click="sortBy('email')">E-mail</div>
        </div>

        <div class="search-container">
            <input type="text" ng-model="searchText" placeholder="Search...">
        </div>

        <table>

            <thead>
            <tr>
                <th ng-click="sortBy('name')">Name</th>
                <th ng-click="sortBy('birthdate')">Date of birth</th>
                <th ng-click="sortBy('email')">E-mail</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="s in students | filter: searchText | orderBy:sortColumn:reverseSort">
                <td>{{s.name}}</td>
                <td>{{s.birthdate}}</td>
                <td>{{s.email}}</td>
            </tr>
            </tbody>

        </table>

        </div>

    </body>

</html>
